.paragraph-length-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
  }
  textarea {
    width: 100%;
    max-width: 350px;
    height: 100px;
    padding: 8px;
  }
  p {
    font-size: 16px;
  }
  